@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1240px;
  width: 100%;  
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}